div.page-header {
	background-color: #06f;
	font-family: "Montserrat Alternates",sans-serif;
    box-shadow: 0 0.2em 0.4em #999;
    margin-top: 0;
}
div.page-header>*>* {
	color: white;
	margin-top: 0;
}

#json-past {
	/* display: none; */
}

.small-type {
	font-size: .6em;
	display: inline;
}

.specplanners {
	font-size: 1.4em;
}

.agenda-item {
	border: .2em solid black;
	color: green;
	list-style-type: none;
}

.over-container {
	width: 400px;
	height: 100px;
	border: .4em solid blue;
}

#pop-awesome-dropzone {
	background-color: #C6E2FF;
}

#my-awesome-dropzone{
	border: .2em solid black;
	height: 100px;
	width: 200px;
}

.dz-filename {
	position: absolute;
	background-color: red;
	max-width: 100px;
	width: 100px;
}
#previews-container { /* container for dropzone thumbnails */
	border: .2em solid green;
	height: 100px;
	width: 800px;
}

#preview-template {
	border: 0.2em solid red;
	width: 100px;
	height: 100px;
	position: absolute,
	right: 100px;
	float: left;
}
.plan-big:hover {
	cursor: pointer; cursor: hand;
}

.planstuffhere {
	font-family: "Karla",sans-serif;
	border: .01em groove #999;
	box-shadow: 0.2em 0em 0.2em #999;
}

.planstuffhere:hover {
	background-color: #C6E2FF;
	cursor: pointer; cursor: hand;
}

.embed-styling-edit {
	height: 4em;
	width: 4em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#embed-styling-dropzone {
	height: 11em;
	width: 18em;
	border: .2em solid black;
}

.plan-holder { /* light blue */
	background-color: #C6E2FF;
	box-shadow: 0 0.2em 0.4em #999;
}

#well-plan {
	background-color: #C6E2FF;
	height: .1em;
}

#well-class {
	background-color: #FFD1B3;
	height: .1em;
}

#well-date {
	background-color: #D0EE96;
	height: .1em;
}

.well-acts {

background-color: #C6E2FF;

}

.well-starts {
	background-color: #FFD1B3;
}

.well-ends {
	background-color: #D0EE96;
}

.well-sm {
	padding: 0;
	padding-left: 2px;
	font-size: 2em;
}

.well-options {
	background-color: #d9534f;
	color: white;
}

#Class-Icon {
	background-color: #FFD1B3;
}

#Plan-Icon {
	background-color: #BFE9FF;
}

#Date-Icon {
	background-color: #D0EE96;
}

#Activity-Icon {
	background-color: #bfe9ff;
}

#Start-Icon {
	background-color: #FFD1B3;
}

#End-Icon {
	background-color: #D0EE96;
}

#overlay-div {
	background: green;
}

.thtest {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 6px;
}

.overlayer {
	background: green;
}

#current-line {
	height: 2px;
	background-color: black;
	z-index: 1000;
}

.calendar-table {
} /*- throws off the overlaying div for now */

.overlay.fixed {
	position: fixed;
}

.inner-help-div {
	position: relative;
}

#enteractivity {
	color: #99FF66;
}

.Activity-Time {
	color: black;
}

.durater {
	color: #FFCC33;
}

.well-watch {
	background-color: #E0FFFF;
}

.well-inside {
	background-color: #FFDEAD;
}

.well-edit {
	background-color: #FFA07A;
}

.well-blue {
	background-color: #06f;
	color: white;
}

/* styling for button .btn-lg {
	color: #06f;
	font-family: "Montserrat Alternates", sans-serif
} */

.otext {
	color: #F90;
}

/*@media screen and (max-width: 500px) {
	.well {
	background-color: green;
	font-size: 20pt;	
	}
}/*