/*@easy-blue: #06f;
@soft-cyan: #C6E2FF;
@soft-pink: #FFD1B3;
@soft-green: #D0EE96;
@skin-pink: #FFDEAD;
@wine: #D9534F;
@sky-blue: #BFE9FF;
@light-green: #99FF66;
@white-blue: #E0FFFF;
@salmon: #FFA07A;*/

html {
	font-size: 1rem;
}

@media screen and (max-width: 550px) {
	html {
		font-size: 0.5rem;
	}
}

@media screen and (max-width: 550px) {
	}
}

.over-container {
	position: relative;
}

#optionpress {
	float: left;
}

.day-input {
	display: inline-block;
	font-size: 2em;
	-ms-transform: scale(1.5); /* IE */
  	-moz-transform: scale(1.5); /* FF */
  	-webkit-transform: scale(1.5); /* Safari and Chrome */
  	-o-transform: scale(1.5); /* Opera */
}

.day-wrap {
	display: block;
	font-size: 1.5em;
	padding-left: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.day-wrap:active {
	background-color: #E0FFFF;
}

#agendapress, #calpress, #addpress {
	float: right;
	display: inline-block;
}

#weeklyoption {
	text-align: center;
	margin: 0 auto;
}

#edit-plan {
	border: none;
}

#edit-class {
	border: none;
}

.activity-col {
	overflow: hidden;
}

.navbar {
	border-bottom: .2em #999 solid;
	background-color: #E0FFFF
}

.navbar > * > * {
	background-color: #E0FFFF;
}

#today-look, #future-look {
	font-size: 1.3em;
	background-color: white;
	text-align: center;
	animation-name: exampleDay;
	animation-duration: 4s;
	-webkit-animation: exampleDay 5s infinite; /* Safari 4+ */
    -moz-animation: exampleDay 5s infinite; /* Fx 5+ */
    -o-animation: exampleDay 5s infinite; /* Opera 12+ */
    animation: exampleDay 5s infinite;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
}

@keyframes exampleDay {
	0% {
		background-color: #D0EE96;
	}
	25% {
		background-color: #C6E2FF;
	}
	50% {
		background-color: #BFE9FF;
	}
	75% {
		background-color: pink;
	}
	100% {
		background-color: #D0EE96;
	}
}

.alert-contain {
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	border: 0em solid black;
}

.navfix {
	position: fixed;
	z-index: 1000;
	display: block;
	text-align: center;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
	animation-name: exampleDay;
	animation-duration: 3s;
	-webkit-animation: exampleDay 5s infinite; /* Safari 4+ */
    -moz-animation: exampleDay 5s infinite; /* Fx 5+ */
    -o-animation: exampleDay 5s infinite; /* Opera 12+ */
    animation: exampleDay 5s infinite;

}

#alerts {
	text-align: center;
	font-size: .5em;
	padding: 0;
}

.dropdown {
	float: right;
}

.circleplus {
	position: fixed;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	background-color: #FFA07A;
	float: left;
	right: 0;
	bottom: 1em;
	padding-right: 1em;
	margin-right: 1em;
}

.bottom-slide {
	z-index: 1000;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: pink;
}

.plusadd {
	position: relative;
	text-align: center;
	-ms-transform: scale(2); /* IE */
  	-moz-transform: scale(2); /* FF */
  	-webkit-transform: scale(2); /* Safari and Chrome */
  	-o-transform: scale(2); /* Opera */
	padding-top: .55em;
	padding-left: .55em;
}

.plan-row {
	border-bottom: 0.1em solid #999;
}

.plan-title {
	display: inline-block;
	font-size: 1.1em;
	text-align: center;
	font-family: "Karla", sans-serif;
}

.task-total {
	font-size: .5em;
	float: right;
	display: inline-block;
	padding: 0;
}

#json-today, #json-future, #json-past {
	background-color: white;
	text-align: center;
	display: block;
	box-shadow: 0 0.2em 0.3em #999;
	border-radius: 0.2em;
	position: relative;
}

#json-repeat {
	background-color: #D9534F;
	display: block;
	box-shadow: 0.2em 0.5em 0.2em #999;

}
.small-type {
	font-size: .6em;
	display: inline;
	text-align: left;
}

.smaller-type {
	font-size: .5em;
	display: inline;
}

.checkbox_complete {
	font-size: .8em;
	display: inline-block;
	position: absolute;
	padding: 0;
	-ms-transform: scale(2.5); /* IE */
  	-moz-transform: scale(2.5); /* FF */
  	-webkit-transform: scale(2.5); /* Safari and Chrome */
  	-o-transform: scale(2.5); /* Opera */
  	outline: none;
}

.day-specify {
	font-size: 1em;

}

.specplanners {
	font-size: 0.9em;
	text-align: left;
}

.agenda-act-row {
	font-size: .8em;
	box-shadow: 0 0.2em 0.4em #999;
	padding: 0;
	margin: 0.2em
}

.agenda-act-row:hover {
	background-color: #E0FFFF;
}

.agenda-item {
	border: .2em solid black;
	color: green;
	list-style-type: none;
}

.plan-big {
	position: relative;
	font-size: .8em;
	background-color: white;
	border: 5px solid red;
}

.plan-big:hover {
	cursor: pointer; cursor: hand;
}

.planstuffhere {
	font-family: "Karla",sans-serif;
	border: .01em groove #999;
	box-shadow: 0.2em 0em 0.2em #999;
}

.planstuffhere:hover {
	background-color: #C6E2FF;
	cursor: pointer; cursor: hand;
}

.embed-styling-edit {
	height: 4em;
	width: 4em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#embed-styling-dropzone {
	height: 11em;
	width: 18em;
	border: .2em solid black;
}

.plan-holder { /* light blue */
	background-color: #C6E2FF;
	box-shadow: 0 0.2em 0.4em #999;
}

#well-plan {
	background-color: #C6E2FF;
	height: .1em;
}

#well-class {
	background-color: #FFD1B3;
	height: .1em;
}

#well-date {
	background-color: #D0EE96;
	height: .1em;
}

.well-acts {

background-color: #C6E2FF;

}

.well-starts {
	background-color: #FFD1B3;
}

.well-ends {
	background-color: #D0EE96;
}

.well-sm {
	padding: 0;
	padding-left: .2em;
	font-size: 2em;
	border: 0;
}

.well-sm-test {
	padding: 0;
	font-size: 1em;
}

.well-options {
	background-color: #d9534f;
	color: white;
}

#Class-Icon {
	background-color: #FFD1B3;
}

#Plan-Icon {
	background-color: #BFE9FF;
}

#Date-Icon {
	background-color: #D0EE96;
}

#Activity-Icon {
	background-color: #bfe9ff;
}

#Start-Icon {
	background-color: #FFD1B3;
}

#End-Icon {
	background-color: #D0EE96;
}

#overlay-div {
	background: green;
}